[tool.poetry]
name = "jsave"
version = "1.0.7"
description = "A simple python module for saving data to JSON files"
authors = ["Ethan Illingsworth <illingsworth.ethan@gmail.com>"]
readme = "README.md"
license = "MIT License"

[tool.poetry.dependencies]
python = "^3.8"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
